* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div {
      display: flex;
      flex-direction: column;
  }

  #myText {
    height: 150px;
    width: 300px;
  }
  #myMorse {
    height: 150px;
    width: 300px;
  }
}
